p {
    font-size: 25px;
    color: rgb(41, 3, 102);
}

.header2 {
    color: blueviolet;
    text-align: left !important;
}
 
.centered {
    text-align: center !important;
}

.right {
    text-align: right !important;
}
#listas{
    text-align: left !important; /* especificidad important (la modificación será aplicada por sobre otras
    modificaciones) */
}