:root {font-size: 40px;}

p {font-size: 0.5rem;
   color: rgb(41, 3, 102);}

h1 {font-size: 1rem;}

.onerem {font-size: 1rem;}

.halfrem{font-size: 0.5rem;}

.pointfourrem {font-size: 0.4rem;}

.header2 {
    font-size: 1rem;
    color: blueviolet;
    
}
 
.centered {
    text-align: center !important;
}

.parrafo {
    font-family: Arial, sans-serif;
    font-size: medium;
}

.link {
    color: blanchedalmond;
}

.right {
    text-align: right !important;
}
#listas{
    text-align: left !important; /* especificidad important (la modificación será aplicada por sobre otras
    modificaciones) */
}